.login-box{
    padding: 10rem 6rem;
    max-width: 60%;
    margin: auto;
}

@media screen and (max-width:768px) {
    .login-box{
        max-width: 100%;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width:576px) {
    .login-box{
        max-width: 100%;
        padding: 2.5rem 1rem;
    }
}